<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.mycompany.mapper.CartMapper">
	
	
	
	<!-- 카트 추가 -->
	<insert id="addCart">
	
		insert into spm_cart(memberMail, goodId, goodCount)
		values(#{memberMail}, #{goodId}, #{goodCount}) 
	
	</insert>
	
	
	<!-- 카트 목록 -->
	<select id="getCart" resultType="com.mycompany.model.CartDTO">
	
		select a.cartId, a.memberMail, a.goodId, a.goodCount, b.goodName, b.goodPrice, b.goodDiscount, b.goodStock
		from spm_cart a left join spm_good b on a.goodId = b.goodId
		where memberMail = #{memberMail} order by a.cartId desc
	
	</select>
	
	<!-- 카트삭제 -->
	
	<delete id='cartDelete'>
	delete spm_cart where cartId= #{cartId}
	</delete>
	
	
	<!-- 카트중복검색 -->
	<select id="cartDupSearch" resultType="int">
	select count(*) from spm_cart where memberMail= #{memberMail} and goodId= #{goodId}
	</select>
	
	<!-- 카트추가(중복) -->
	<update id='cartAddDup'>
	update spm_cart set goodCount= #{goodCount} where cartId= #{cartId}
	</update>
	
	<!-- 자기카트 상품수검색 -->
	<select id="cartCountSearch" resultType="com.mycompany.model.CartDTO">
	select goodCount, cartId from spm_cart where memberMail= #{memberMail} and goodId= #{goodId}
	</select>
	
	
	

	
	
	
	
	
	
	
	

  </mapper>